* {
    font-family: Arial, sans-serif;
}

body {
    background-color: lemonchiffon;
    text-align: center;
}

header {
    position: fixed;
    display: block;
    background-color: green;
    top: 0px;
    right: 0px;
    text-align: right;
    margin: 0;
    padding: 0;
}

nav {
    text-align: right;
}

footer {
    position: fixed;
    display: block;
    background-color: green;
    bottom: 0px;
    right: 0px;
    text-align: right;
}

form {
    border-radius: 15px;
    background-color: bisque;
}